body{
    margin:0;
    font-family: sans-serif;
}
.grid{
    display: grid;
    grid-template-rows: repeat(5, minmax(100px, auto));
    grid-template-columns: repeat(1, 1fr);
    grid-template-areas: 
        "header"
        "main"
        "contato"
        "feedback"
        "footer";
}

header{
    background-image: url(imagem/banner.png);
    background-position: center;
    background-size: cover;
    border-top: 10px solid #2dcc70;
    color: white;
    display: flex;
    flex-direction: column;
    grid-area: header;
    height: 40vw;
    justify-content: center;
    align-items: center;
}

.titulo{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

header h3{
    font-family: "Pacifico";
    font-size: 1.5rem;
    font-weight: 100;
}

header h3 span{
    color: #2dcc70;
}

header p {
    width: 75%;
    word-wrap:normal;
}

.imagens-header{
    display: flex;
    justify-content: space-around;
    width: 50%;
}

.imagens-header div{
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 100%;
    padding: 10px;
    transition: 1s;
}

header .mao{
    align-self:flex-end;
    margin-left:20px;
    height:80%;
    display:none;
}

header .mao img{
    height:100%;
}

.imagens-header div:hover{
    background-color: #2ecb70;
}

main{
    grid-area: main;
}
.contato{
    grid-area: contato;
}
.feedback{
    grid-area: feedback;
}
footer{
    grid-area: footer;
}

@media(min-width: 576px){
    header{
        flex-direction: row;
    }
    h3{
        font-size: 2rem;
    }
    .titulo{
        display: block;
    }
    header .mao{
        display: block;
    }
}

@media(min-width: 768px){

    header h3{
        font-size: 3rem;
    }
}